.App {
  text-align: center;
  cursor: url(../images/general/cursor_32_x_32_Neu.png) 10 0, none;
}

.App-logo {
  height: 40vmin;
  outline: #ddd;
  outline-width: medium; 
  outline-style: ridge;
  outline-offset: 0; 
  cursor: url(../images/general/Pointer_32_x_32.png) 10 0, pointer;
}

.App-banner {
  height: flex;
  width: 100%;
  display: flex;
  padding: 0px 0px 25px 0px;
  cursor: url(../images/general/Pointer_32_x_32.png) 10 0, pointer;
}

.App-logo_fl {
  height: 20px;
  width: 175px;
  pointer-events: none;
  padding: 0px 0px;
}

.Logout {
  height: 20px;
  width: 20px;
  pointer-events: none;
  padding: 0px 0px;
}

/* Lässt das Logo Zeitbestimmung

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.App-header {
  background-color: #e8eaed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

/*
.title_bar {
  background-color: rgb(65, 144, 65);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  outline: rgb(79, 166, 71);
  outline-width: medium; 
  outline-style: ridge;
  outline-offset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
*/

.App-link {
  color: #61dafb;
  cursor: url(../images/general/Pointer_32_x_32.png) 10 0, pointer;
}



