.App {
  background-color: white;
}


.request-form {
  width: 665px;
  display: block;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

#submitButton {
  background-color: rgb(79, 166, 71);
  float: center;
  color: white;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px 5px;
  outline: 0;
  box-shadow: 2px 2px 0px lightgray;
}

#submitFormDiv {
  text-align: center;
}

#labelTitel {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 2em;
}