.App {
    background-color: white;
  }

  
  .request-form {
    width: 665px;
    display: block;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }

  #submitButton {
    text-align: center;
  }

  #labelTitel {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
}
